<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{currentYear }} | Developed and designed by Tharun Macha.</p>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/tharun-macha-b65899297/" target="_blank" class="a-green">
          <i class="fab fa-linkedin"></i>
        </a>
        <!-- <a href="https://github.com/" target="_blank" class="a-green">
          <i class="fab fa-github"></i>
        </a> -->
        <a href="mailto:tharunmac9@gmail.com" class="a-green">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="https://x.com/tharunmac9" target="_blank" class="a-green">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
